.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__header{
  font-size: 40px;
  font-weight: 800;
  color: #0f3e4f;
  margin: 40px auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.data__display{
  padding: 4px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.data__hidden{
  display: none;
}

.data__heading{
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data__json{
  font-size: 16px;
  font-weight: 400;
}